#readingProgressBar {
  position: fixed;
  top: 75px;
  left: 0;
  height: 3px;
  width: 0%;
  background: linear-gradient(90deg, #4facf7 0%, #007bf3 100%);
  /* background: linear-gradient(90deg, #ffffff 0%, #93c5fd 100%); */
  z-index: 999;
  pointer-events: none;

  will-change: width;
}
